§ =============================================================
§  Personal Information
§ =============================================================

SetMacro( 'AUTHOR',       '{{ item.full_name    | default(user_full_name)             }}' )
SetMacro( 'AUTHORREF',    '{{ item.initials     | default(user_initials)              }}' )
SetMacro( 'EMAIL',        '{{ item.email        | default(user_email)                 }}' )
SetMacro( 'ORGANIZATION', '{{ item.organization | default(user_organization)          }}' )
SetMacro( 'COMPANY',      '{{ item.company      | default(user_company)               }}' )
SetMacro( 'COPYRIGHT',    '{{ item.copyright    | default(vim_bash_support_copyright) }}' )
SetMacro( 'LICENSE',      '{{ item.license      | default(vim_bash_support_license)   }}' )

§ =============================================================
§  Date and Time Format
§ =============================================================

SetFormat( 'DATE', '{{ item.vim_date_format | default(vim_bash_support_date_format) }}' )
SetFormat( 'TIME', '{{ item.vim_time_format | default(vim_bash_support_time_format) }}' )
SetFormat( 'YEAR', '{{ item.vim_year_format | default(vim_bash_support_year_format) }}' )
